.main {
  padding: 4rem 0;
  padding-top: 0rem;
  margin: 20px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 15%;
  height: 15%;
  border-radius: 100%;
  margin: 2rem;
}
.text {
  padding: 0;
  margin: 0;
}
.textContainer {
  display: grid;
  grid-template-columns: 1 3;
  grid-template-rows: 1 1;
  column-gap: 0.5rem;
}
.one {
  grid-row: 1;
  grid-column: 1;
  text-align: right;
  font-weight: 600;
}
.two {
  grid-row: 1;
  grid-column: 2;
}
.three {
  grid-row: 2;
  grid-column: 1;
  text-align: right;
  font-weight: 600;
}

.four {
  grid-row: 2;
  grid-column: 2;
}


.btn{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    line-height: 2.5rem;
    cursor: default;
    background-color: var(--primary);
    border-radius: 0.5rem;
    height: 2.5rem;
    border: none;
    padding: 0 1.5rem;
    margin: 0.75rem;
    transition: all 0.25s;
}

.btn:hover{
    cursor:pointer;
    background-color:var(--primary-shade);
    line-height: 3rem;
    height: 3rem;
    padding:0rem 1.75rem;
    font-weight: 600;
}

.searchResults {
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  padding: 0px 10px;
}
.searchResults::-webkit-scrollbar {
  width: 7px;
}
.searchResults::-webkit-scrollbar-track {
  background: rgb(226, 255, 226);
}
.searchResults::-webkit-scrollbar-thumb {
  background: linear-gradient(#2b29f9, #03f7f7);
  border-radius: 100vw;
}

.userImage {
  border-radius: 100%;
}
.userItem {
  display: flex;
  margin: 2px 2px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #191516;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  transition: transform 0.25s;
  cursor: pointer;
}
.userItem:hover {
  transform: scale(1.01);
}
.userImageAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userImageAndName h2 {
  color: white;
  margin-left: 5px;
}
.searchInput{
    height: 2.5rem;
    margin: 0.75rem 1rem;
    border-radius: 5px;
    border: 1px solid #191516;
    padding: 0px 10px;
    width: 90%;
    font-size: larger;
}
.spinner{
  width:50px;
  height:50px;
  margin:0;
}